<div class="nested-fields step fs18">
  <div class="index"><%#= index + 1 %></div>
  <div class="details">
    <%= f.input :name %>
    <%= f.input :due_on, include_blank: true %>
  </div>
  <div class="action">
    <%= link_to_remove_association 'remove step', f %>
  </div>
</div>