<div class="nested-fields step fs18 border orange">
  <div class="index"><%#= index + 1 %></div>
  <div class="details">
    <%= f.trix_editor :name %>
    <%= f.input :due_on, include_blank: true %>
  </div>
  <div class="action">
    <%= link_to_remove_association 'Remove Step', f, class: 'btn orange' %>
  </div>
</div>