<div class="maxw1050 mx-auto">
  <h1 class="h2 bold my40 px15">New Playback</h1>

  <%= render 'form', playback: @playback %>

  <div class="px15 mb30">
    <%= link_to 'Back', playbacks_path %>
  </div>
</div>