// Config
// =========================================================================

@import 'colors'

// =========================================================================

.error
  color: red
  display: block
  font-size: 14px
  padding-top: 5px
  font-weight: normal
  &:first-letter
    text-transform: capitalize

.field_with_errors > .field
  border-color: red

.field
  border: 2px solid $grey
  font-size: 15px
  padding: 5px
  width: 100%
  &:focus
    border-color: $teal
  &.date
    width: auto
  &.text
    min-height: 75px
  &.boolean
    max-width: 30px

.hint, .label
  color: $mid-grey

.hint
  display: block
  font-size: 13px
  margin-bottom: 5px

.label
  display: block
  font-size: 15px
  font-weight: normal
  margin: 5px 0
  text-align: left
  &.boolean
    display: inline-block