// Config
// =========================================================================

@import 'colors'

// =========================================================================

a
  color: $teal
  text-decoration: none
  &:hover
    text-decoration: underline

fieldset
  margin-bottom: 60px
  legend
    font-size: 30px
    font-weight: bold
    padding: 0 20px
    @media screen and (max-width: 640px)
      font-size: 23px
    .input
      font-size: 15px

header
  align-items: flex-end
  margin-top: 40px

hr
  background: $black
  border: none
  height: 1px

table
  width: 100%
table, th, td
  border: 1px solid $black
  padding: 7px

trix-editor
  font-size: 15px

.insight
  border-bottom: solid 1px $black
  padding: 45px 80px
  &:last-child
    border-bottom: none
  @media screen and (max-width: 640px)
    padding: 18px 15px

.section-description
  padding: 10px 80px
  @media screen and (max-width: 640px)
    padding: 10px 15px

.notice
  padding: 20px
  background: $light-grey

.step
  display: flex
  margin-bottom: 20px
  .action, .details
    padding: 20px
    @media screen and (max-width: 640px)
      padding: 15px
  .action
    border: 1px solid $black
  .details
    flex: 1
    border: 1px solid $black
    margin-right: 20px
  .index
    background: $black
    color: white
    font-weight: bold
    line-height: 60px
    min-height: 100%
    text-align: center
    width: 60px
    @media screen and (max-width: 640px)
      width: 40px

.tag
  background: $light-grey
  border-radius: 5px
  display: inline-block
  padding: 7px 20px
  font-weight: bold
  font-size: 20px
  @media screen and (max-width: 640px)
    font-size: 15px
  &.green
    background: $green
  &.red
    background: $red
  &.yellow
    background: $yellow

.links
  text-align: center