<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      * {
        font-family: 'Lucida Grande', Helvetica, sans-serif;
      }
      a, a:visited {
        color: #2daeb7 !important;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      body {
        padding: 15px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
